#calculator{
  margin:50px;
}
.custom {
    width: 50px !important;
    margin:3px;
}
.keys{
  background-color: lightpink;
  width:250px;
  border-radius: 10px;
  padding-left: 30px;
  height:300px;
  padding-top: 20px;
}
.display{
  background-color: lightblue;
  height: 50px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 10px;
  text-align: right;
}
.col-sm-1{
  margin-left:0;
}
